<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.tue.vagariapp">
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconvagarismall"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Login"
            android:screenOrientation="portrait">
        </activity>
        
        <activity android:name=".Upload"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".Tabs"
            android:screenOrientation="portrait">
        </activity>
        
        <activity android:name=".Settings"
            android:screenOrientation="portrait">
        </activity>
        
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAy56QDfpBeEiit_R1co3urve-0O7AhQAY"/>

    </application>

</manifest>
